.col-md-7.news-container
  .news
    .date
      span.month Oct
      | 25
      span.year 2014
    .news-content
      p
        span.news-title JSDC 2014 影片分享
        br
        | 各個講師精采影片，保證值得一看再看
        a(href='https://www.youtube.com/watch?v=FDymoRtFxSs&list=PL8dIIwCMF-SN8ZOY1NgSrj-WkYb112glF', target="_blank") 影片大回顧

  .news
    .date
      span.month Oct
      | 21
      span.year 2014
    .news-content
      p
        span.news-title JSDC 2014 簡報分享
        br
        | 各個講師精采簡報，保證值得一看再看
        a(href='/schedule.html', target="_blank") 簡報資料


  .news
    .date
      span.month Oct
      | 12
      span.year 2014
    .news-content
      p
        span.news-title JavaScript 技術研討會順利落幕
        br
        | 世界級 JavaScript 感謝各位參與者，講師，贊助商，期待我們的精采資料

  .news
      .date
        span.month Oct
        | 04
        span.year 2014
      .news-content
        p
          span.news-title JavaScript 技術研討會開幕倒數
          br
          | 世界級 JavaScript 開發者即將聚集在 JSDC.tw ，活動開始進入白熱化倒數階段
  .news
      .date
        span.month Sep
        | 16
        span.year 2014
      .news-content
        p
          span.news-title 志工現正招募中
          br
          | JSDC 2014 活動志工招募中，歡迎參加
          a(href='/volunteer.html', target="_blank") 報名網址

  .news
      .date
        span.month Sep
        | 3
        span.year 2014
      .news-content
        p
          span.news-title JSDC 2014 售票期限通知
          br
          | 通知各位本次售票，截止日爲 9/20 ，請各位儘快完成報名，以免影響權益，
          a(href='http://jsdc-tw.kktix.cc/events/jsdc2014', target="_blank") 報名網址

    .news
        .date
          span.month Aug
          | 28
          span.year 2014
        .news-content
          p
            span.news-title JSDC 免費邀請票相關聲明
            br
            | 對於JSDC 免費邀請票相關聲明，以及售票事件說明
            a(href='http://blog.jsdc.tw/2014/08/31/speaker-ticket-sale/', target="_blank") 詳細全文

    .news
        .date
          span.month Aug
          | 28
          span.year 2014
        .news-content
          p
            span.news-title JSDC 2014 議程公佈
            br
            | 感謝各位支持 JSDC 2014 議程公佈，請大家記得 8/29 20:00 一般票開賣 ...
            a(href='/schedule.html', target="_blank") 完整議程
    .news
        .date
          span.month Aug
          | 18
          span.year 2014
        .news-content
          p
            span.news-title JSDC 一般票即將販售
            br
            | 感謝各位踴躍報名，JSDC 2014 一般票將於 8 月 29 日開始進行販售，以及各種票種說明 ...
            a(href='http://blog.jsdc.tw/2014/08/18/sale-ticket/', target="_blank") 詳細資訊

    .news
        .date
          span.month Aug
          | 15
          span.year 2014
        .news-content
          p
            span.news-title JSDC 早鳥票販售完畢
            br
            | 感謝各位踴躍報名，JSDC 2014 早鳥票販售完畢，資料與內容物將於 9 月初寄出，寄出時將以 Email 與購買者確認聯繫。感謝各位

      .news
        .date
          span.month Aug
          | 14
          span.year 2014
        .news-content
          p
            span.news-title JSDC 2014 宗旨與聲明
            br
            | JSDC 2014 籌辦這些日子中，一開始我們討論許多事情，花許多時間在於活動本位上，從 2012 的建立，到 2013 的擴大，今年 2014 ...
            a(href='http://blog.jsdc.tw/2014/08/14/announcement/', target="_blank") 繼續閱讀

      .news
        .date
          span.month Aug
          | 10
          span.year 2014
        .news-content
          p
            span.news-title JSDC 早鳥票開始販售
            br
            | JSDC 2014 將於 8/15 中午 12:00 販售早鳥票，請大家密切注意
            a(href='http://jsdc-tw.kktix.cc/events/jsdc2014?_ga=1.84781658.2126990749.1398015571', target="_blank") JSDC 2014 購票網址

      .news
        .date
          span.month July
          | 31
          span.year 2014
        .news-content
          p
            span.news-title 徵求講題截止
            br
            | JSDC 2014 徵求稿件於 31 July 截止，請大家踴躍參與，
            a(href='https://github.com/jsdc2014/speaker', target="_blank") 投稿詳細資訊
      .news
        .date
          span.month July
          | 20
          span.year 2014
        .news-content
          p
            span.news-title 第一波講者公佈
            br
            | 今年秉持著品質至上，我們邀請了許多國家的開發者一同參與，從 Node.js module 貢獻大師，以及 Express 貢獻者，甚至兩岸三地，華人區域企業架構規劃者，
            | 大家一同參與 JSDC 2014 盛會
            a(href='http://2014.jsdc.tw/speakers.html', target="_blank") 完整講者列表

        //- .text-right
          //- a(href='news.html') ...更多消息
