.col-md-7.news-container

    .news
        .date
          span.month Aug
          | 18
          span.year 2014
        .news-content
          p
            span.news-title JSDC 一般票即將販售
            br
            | 感謝各位踴躍報名，JSDC 2014 一般票將於 8 月 29 日開始進行販售，以及各種票種說明 ...
            a(href='http://blog.jsdc.tw/2014/08/18/sale-ticket/', target="_blank") 詳細資訊

    .news
        .date
          span.month Aug
          | 15
          span.year 2014
        .news-content
          p
            span.news-title JSDC 早鳥票販售完畢
            br
            | 感謝各位踴躍報名，JSDC 2014 早鳥票販售完畢，資料與內容物將於 9 月初寄出，寄出時將以 Email 與購買者確認聯繫。感謝各位

      .news
        .date
          span.month Aug
          | 14
          span.year 2014
        .news-content
          p
            span.news-title JSDC 2014 宗旨與聲明
            br
            | JSDC 2014 籌辦這些日子中，一開始我們討論許多事情，花許多時間在於活動本位上，從 2012 的建立，到 2013 的擴大，今年 2014 ...
            a(href='http://blog.jsdc.tw/2014/08/14/announcement/', target="_blank") 繼續閱讀

      .news
        .date
          span.month Aug
          | 10
          span.year 2014
        .news-content
          p
            span.news-title JSDC 早鳥票開始販售
            br
            | JSDC 2014 將於 8/15 中午 12:00 販售早鳥票，請大家密切注意
            a(href='http://jsdc-tw.kktix.cc/events/jsdc2014?_ga=1.84781658.2126990749.1398015571', target="_blank") JSDC 2014 購票網址

      .news
        .date
          span.month July
          | 31
          span.year 2014
        .news-content
          p
            span.news-title 徵求講題截止
            br
            | JSDC 2014 徵求稿件於 31 July 截止，請大家踴躍參與，
            a(href='https://github.com/jsdc2014/speaker', target="_blank") 投稿詳細資訊
      .news
        .date
          span.month July
          | 20
          span.year 2014
        .news-content
          p
            span.news-title 第一波講者公佈
            br
            | 今年秉持著品質至上，我們邀請了許多國家的開發者一同參與，從 Node.js module 貢獻大師，以及 Express 貢獻者，甚至兩岸三地，華人區域企業架構規劃者，
            | 大家一同參與 JSDC 2014 盛會
            a(href='http://2014.jsdc.tw/speakers.html', target="_blank") 完整講者列表

        //- .text-right
          //- a(href='news.html') ...更多消息
