.col-md-7.news-container
  .news
      .date
        span.month Oct
        | 25
        span.year 2014
      .news-content
        p
          span.news-title JSDC 2014, Share video
          br
          | Speakers video shared
          a(href='https://www.youtube.com/watch?v=FDymoRtFxSs&list=PL8dIIwCMF-SN8ZOY1NgSrj-WkYb112glF', target="_blank")  Video shared

  .news
      .date
        span.month Oct
        | 25
        span.year 2014
      .news-content
        p
          span.news-title JSDC 2014, Share slide
          br
          | Slide shared
          a(href='/en.schedule.html', target="_blank")  slide share link


  .news
      .date
        span.month Oct
        | 12
        span.year 2014
      .news-content
        p
          span.news-title JSDC 2014, thanks your coming
          br
          | Thanks everyone join and speakers and sponsors.

  .news
      .date
        span.month Oct
        | 04
        span.year 2014
      .news-content
        p
          span.news-title JavaScript conference is final count down
          br
          | Global JavaScript will get together in Taiwan in JSDC 2014. Final count down.
  .news
      .date
        span.month Sep
        | 3
        span.year 2014
      .news-content
        p
          span.news-title JSDC 2014 Last Minutes Tickets
          br
          | Wait until Sep/20 for the last minute to buy your ...
          a(href='http://jsdc-tw.kktix.cc/events/jsdc2014', target="_blank") 2014 JSDC Tickets

    .news
        .date
          span.month Aug
          | 28
          span.year 2014
        .news-content
          p
            span.news-title JSDC Invitation Code
            br
            | An announcement about JSDC invitation code is not transferable and chek out ...
            a(href='http://blog.jsdc.tw/2014/08/31/speaker-ticket-sale/', target="_blank") the ticketing information

    .news
        .date
          span.month Aug
          | 28
          span.year 2014
        .news-content
          p
            span.news-title JSDC 2014 Full Event Schedule
            br
            | Thank you for supporting JSDC 2014, regular bird tickets start selling at August/29 20:00 ...
            a(href='/en-schedule.html', target="_blank") Check out the details
    .news
        .date
          span.month Aug
          | 18
          span.year 2014
        .news-content
          p
            span.news-title JSDC Regular Bird Tickets
            br
            | Thank you for joining JSDC 2014, you can start ordering regular tickets from Aug/29 and check for ...
            a(href='http://blog.jsdc.tw/2014/08/18/sale-ticket/', target="_blank") more information

    .news
        .date
          span.month Aug
          | 15
          span.year 2014
        .news-content
          p
            span.news-title JSDC Early Bird Tickets SOLD OUT
            br
            | Early bird tickets and offers are going to send in mid-September directly to the address registered and also with the E-mail confirmation

      .news
        .date
          span.month Aug
          | 14
          span.year 2014
        .news-content
          p
            span.news-title JSDC 2014 Mission Statement
            br
            | We started from very little at 2012, and growed up at 2013. For 2014, we are standing up and put more effort to make sure everyone can get move involved in this conference.
            a(href='http://blog.jsdc.tw/2014/08/14/announcement/', target="_blank") More details

      .news
        .date
          span.month Aug
          | 10
          span.year 2014
        .news-content
          p
            span.news-title Get Your 2014 Early Bird Tickets
            br
            | Make yourself ready for the JSDC 2014 early bird tickets at Aug/15 12:00, please stayed tuned.
            a(href='http://jsdc-tw.kktix.cc/events/jsdc2014?_ga=1.84781658.2126990749.1398015571', target="_blank") Join JSDC 2014

      .news
        .date
          span.month July
          | 31
          span.year 2014
        .news-content
          p
            span.news-title Call For Speakers
            br
            | JSDC 2014 call for speaksers, ended at 31 July. Wanted to know more
            a(href='https://github.com/jsdc2014/speaker', target="_blank") details
      .news
        .date
          span.month July
          | 20
          span.year 2014
        .news-content
          p
            span.news-title First Speakers Announcement
            br
            | JSDC has a special arrangement for 2014, that we invited Node.Js, Express contributers, and researchers, enterprise solution architects in APAC. Please follow up with
            a(href='http://2014.jsdc.tw/speakers.html', target="_blank") Full Speaker List

        //- .text-right
          //- a(href='news.html') ...更多消息
