h2 Day2 (10/12)
table.table.table-striped.table-bordered.table-hover.schedule(border='0', align='center')
  thead
    tr
      th(width="15%") Time
      th(width="40%") 國際會議廳
      th(width="40%") 第二會議廳
  tbody
    tr
      td(width='39')
        | 08:30 - 09:00
      td(colspan='2')
        | 報到
    tr
      td
        | 09:00 - 09:15
      td(colspan='2')
        | 開場
    tr
      td
        | 09:15 - 10:05
      td(colspan='2')
        | Microsoft / TBD
    tr
      td
        | 10:05 - 10:20
      td(colspan='2') Brunch
    tr
      td
        | 10:20 - 11:10
      td.popup(colspan='3')
        img.program-photo(alt='', src='/images/speakers/jonathanong.png')
        h4.name Jonathan
        span.program-name
          a.tooltip(href="#")
            | Koa - Asynchronous Decorators as Middleware
            span
              | Koa is the spiritual successor to Express, also written by TJ Holowaychuk. Thanks to its elimination of callbacks, many issues and complexities present in many frameworks, such as Express no longer exist. In this talk, we will discuss:
              br
              | Problems that arise from creating apps with callback-based frameworks such as Express
              | Complexities of other frameworks due to callback-based programming
              | At a high-level, how to philosophically build your Koa app
    tr
      td
        | 11:10 - 11:20
      td(colspan='2') Break
    tr
      td
        | 11:20 - 12:10
      td.popup
        img.program-photo(alt='', src='/images/speakers/jlord.png')
        h4.name Jessica
        span.program-name
          a.tooltip(href="#")
            | Teaching Git and GitHub with Node.js
            span
              |  Introduction to NodeSchool.io workshoppers and community workshops and demonstrate using Node.js to interact with Git and build an interactive bot with the GitHub API.
      td.popup
        img.program-photo(alt='', src='http://en.gravatar.com/userimage/10121824/98b15bd27e185433ef9af778d52a0545.jpg?size=200')
        h4.name Fred Chien
        span.program-name
          a.tooltip(href="#")
            | Feature-oriented Programming with JavaScript
            span
              | 特色導向程式開發（找不到中文翻譯，所以暫譯） - Feature-oriented Programming (FOP) 是一個不同於傳統物件導向(OOP)的程式開發概念，在近年來慢慢開始有人討論其可行性。可以有效率擴充和增加程式功能，相當具有彈性，並易於管理程式架構和邏輯，利於軟體產品的開發。
              br
              | 某一天，不小心引入 FOP 到 JavaScript 和 Node.js 的開發後，意外發現 FOP 與動態語言相當契合，別有一番風味，可以用完全不一樣的方法，來看待和開發 JavaScript 應用程式。FOP 奇幻冒險，就此展開。
    tr
      td
        | 12:10 - 13:10
      td(colspan='2') Lunch
    tr
      td
        | 13:10 ~ 14:00
      td.popup
        img.program-photo(alt='', src='/images/speakers/soggie.jpeg')
        h4.name Ruben
        span.program-name
          a.tooltip(href="#")
            | Leveraging ZMQ with Node.js
            span
              | "Build short, simple, clear, modular, and extendable code that can be easily maintained and repurposed by developers other than its creators" - Unix Philosophy
              br
              | Small services talking to each other (Composable Design) is an integral part of large infrastructure systems design. There are many ways to facilitate communications between services, and ZMQ is one of them.
              br
              | Learn how to use ZMQ with node.js to create a service-oriented architecture, and learn how to build custom network topologies instead of being constrained to follow the standard ones that does not fit your infrastructure goals.
      td.popup(rowspan='3',style='vertical-align:middle')
        img.program-photo(alt='', src='/images/speakers/stefan.jpg')
        h4.name Stefan Stoelzle
        span.program-name
          a.tooltip
            | Ext JS Workshop / The 90 Minute App
            span
              | In this workshop, we will provide an in-depth guide to Ext JS 5, including its layout system, data package, and MVVM. We will need Ext JS 5 and Sencha Cmd 5 for the hands-on, please make sure to download at sencha.com.
            p(style="font-size:0.5em")
              a.small(href="http://www.sencha.com/products/sencha-cmd/download") Download Sencha Cmd 5
              | &nbsp;/&nbsp;
              a.small(href="http://www.sencha.com/products/extjs/#try") Download Ext JS 5
    tr
      td
        | 14:00 - 14:10
      td Break
    tr
      td
        | 14:10 ~ 15:00

      td.popup
        img.program-photo(alt='', src='/images/speakers/akira.jpeg')
        h4.name 吳亮（月影）
        span.program-name
          a.tooltip(href="#")
            | 大型互聯網公司前端團隊的那些事兒
            span
              | 前端作為互聯網開發環節中的重要角色，不論在技術、工程、方法論還是個人與團隊成長上都面臨著種種挑戰。作為一位前端技術leader，我想與大家分享我在兩家大公司管理前端團隊中遇到的各種問題，​​積累的各種經驗和踩過的坑，共同探討如何通過項目積累和成長，成為行業內比較優秀的前端團隊

    tr
      td
        | 15:00 - 15:30
      td(colspan='2') Tea Break
    tr
      td
        | 15:30 - 16:20
      td.popup
        img.program-photo(alt='', src='/images/speakers/mafintosh.jpeg')
        h4.name Mathias
        span.program-name
          a.tooltip(href="#")
            | Node.js, p2p and MAD SCIENCE
            span
              ul
                li - Peer to peer in Node.js is a fast moving target.
                li - In this talk we look into the cutting edge of what is possible using BitTorrent, p2p and Javascript.
                li - This will be a continuation of my recent work with doing MAD SCIENCE with p2p and node.
                li - There will be demos.
      td.popup
        img.program-photo(alt='', src='https://secure.gravatar.com/avatar/c4ce16f549c450f4759eb37f5d5d1a63.png?s=205')
        h4.name othree
        span.program-name
          a.tooltip(href="#")
            | node-ffi, 用 node 使用 c/c++ lib
            span
              | node-ffi 是 node 的 foreign function interface 套件，可以透過它讓你的 node 應用程式使用現存的 C/C++ lib，本分享將藉由 @c9s 的 r3 router 為例，透過 node-ffi 連結讓 node 應用程式可以使用 libr3 所提供的高效率的 router，介紹各種實做時遇到的問題和解決方法。
    tr
      td
        | 16:20 - 16:30
      td(colspan='2') Break
    tr
      td
        | 16:30 - 17:20
      td.popup
        img.program-photo(alt='', src='/images/speakers/muan.jpeg')
        h4.name Muan
        span.program-name
          a.tooltip(href="#")
            | TBD
            span
              | N/A
      td.popup
        img.program-photo(alt='', src='http://www.gravatar.com/avatar/e3ae72c70bbc66b854df24df2120a245.png')
        h4.name 閃光洽
        span.program-name
          a.tooltip(href="#")
            | Famo.us - New generation of HTML5 Web Application Framework
            span
              ul
                li What's Famo.us? Is it famous?
                li Why Famo.us?
                li What difference between others framework?
                li HOWTO?
                li Structure and performance issues
                li Integration with Angular
                li Not so distant future
    tr
      td 17:20 - 17:30
      td(colspan='2') Break
    tr
      td 17:30 - 18:00
      td(colspan='2') Lightning talk & Close

p PS. 國際會議廳備有同步口譯設備，請於議場入口處以證件換取。以英文翻譯中文爲主
