h2 Day1 (10/11)
table.table.table-striped.table-bordered.table-hover.schedule(border='0', align='center')
  thead
    tr
      th(width="15%") Time
      th(width="40%") 國際會議廳
      th(width="40%") 第二會議廳
  tbody
    tr
      td(width='39')
        | 08:30 - 09:00
      td(colspan='2')
        | 報到
    tr
      td
        | 09:00 - 09:15
      td(colspan='2')
        | 開場
    tr
      td
        | 09:15 - 10:05
      td.popup(colspan='3')
        img.program-photo(alt='', src='/images/speakers/sencha-logo.png')
        h4.name Jeff Pope
        span.program-name
          a.tooltip(href="#")
            | TBD
            span N/A
    tr
      td
        | 10:05 - 10:20
      td(colspan='2') Brunch
    tr
      td
        | 10:20 - 11:10
      td.popup(colspan='3')
        img.program-photo(alt='', src='https://avatars3.githubusercontent.com/u/39759?v=2&s=460')
        h4.name maxwell ogden
        span.program-name
          a.tooltip(href="#")
            | TBD
            span N/A
    tr
      td
        | 11:10 - 11:20
      td(colspan='2') Break
    tr
      td
        | 11:20 - 12:10
      td.popup
        img.program-photo(alt='', src='/images/speakers/fengmk2.jpeg')
        h4.name MK (袁锋)
        span.program-name
          a.tooltip(href="#")
            | CNPM: 打造企業級私有NPM
            span
              ul
                li 為什麼我們需要私有NPM
                li CNPM的實現細節
                li 與NPM Enterprise 的對比
      td.popup
        img.program-photo(alt='', src='https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/255240_10150986318676398_98791455_n.jpg?oh=570482b698617aee1f6010a864a70be9&oe=547C8DA5&__gda__=1416566828_0b6c57252e8e51a5bfc24445706686b6')
        h4.name Casear Chu
        span.program-name
          a.tooltip(href="#")
            | ZMQ 的安全與架構 in node.js
            span zmq-soa，zmq secure issue and detail of implement distributed zmq SOA parttern -  broker , worker , requester.
    tr
      td
        | 12:10 - 13:10
      td(colspan='2') Lunch
    tr
      td
        | 13:10 ~ 14:00
      td.popup
        img.program-photo(alt='', src='/images/speakers/lepture.jpeg')
        h4.name Hsiaoming Yang(lepture)
        span.program-name
          a.tooltip(href="#")
            | 不被重視的 HTML: Accessibility
            span Accessibility on the web, which would be a HTML
      td.popup
        img.program-photo(alt='', src='http://f.cl.ly/items/3K0L32190s1I193C2S2s/1157511_10151703860008423_1394089489_n.jpg')
        h4.name Jeremy Lu
        span.program-name
          a.tooltip(href="#")
            | 使用 Docker 打造完整前端測試方案與 Continuous Integration/Delivery 系統
            span
              ul
                li 2014 版前端開發適用的測試工具與流程，例如 karma/mocha/chai 與 webdriverJS/Selenium
                li 自建 CI/CD 並與 github webhooks 合作
                li 將上述方案實作於 Docker 內，方便跑在各雲端平台
    tr
      td
        | 14:00 - 14:10
      td Break
      td  
    tr
      td
        | 14:10 ~ 15:00

      td.popup
        img.program-photo(alt='', src='/images/speakers/clkao.jpeg')
        h4.name clkao
        span.program-name
          a.tooltip(href="#")
            | PgREST - PostgreSQL, JavaScript, and REST
            span
              | PgREST turns PostgreSQL into a RESTful JSON document store, allows
              | running JavaScript and npm modules as stored procedures for queries
              | and triggers from within the database. It also provides
              | Firebase-compatible API for developing real-time applications. This
              | talk will cover the building blocks of PgREST: PostgreSQL, plv8js,
              | plv8x, as well as examples for turning existing relational data into
              | REST endpoints.
      td.popup
        img.program-photo(alt='', src='http://community.portalsquared.com/wp-content/uploads/userphoto/no_image.png')
        h4.name Greg Weng
        span.program-name
          a.tooltip(href="#")
            | TBD
            span
              | N/A
    tr
      td
        | 15:00 - 15:30
      td(colspan='2') Tea Break
    tr
      td
        | 15:30 - 16:20

      td.popup
        img.program-photo(alt='', src='/images/speakers/huge.jpeg')
        h4.name Huge
        span.program-name
          a.tooltip(href="#")
            | RxJS for frontend developers.
            span
              ul
                li Async is HARD
                li Array & Events
                li Observable

      td.popup
        img.program-photo(alt='', src='http://community.portalsquared.com/wp-content/uploads/userphoto/no_image.png')
        h4.name Ben Lue
        span.program-name
          a.tooltip(href="#")
            | Oops! I Shrink My Web Server
            span
              | Convention wisdom is that software will grow in size over time, especially when more features are added to it. With our development with coServ, the next generation web server, this rule is broken. With node.js, we're able to build more features with less codes.
              br
              | 一般而言，一個軟體專案總是隨著時間增長而越寫越大，尤其是越多功能加於其上時。但是我們開發 coServ 這個下一代 web server 的經驗，卻是在建立許多有趣的功能時將專案越寫越小。
    tr
      td
        | 16:20 - 16:30
      td(colspan='2') Break
    tr
      td
        | 16:30 - 17:20

      td.popup(colspan='2')
        img.program-photo(alt='', src='/images/speakers/substack.png')
        h4.name substack(James Halliday)
        span.program-name
          a.tooltip(href="#")
            | TBD
            span
              | N / A
    tr
      td 17:30 - 17:30
      td(colspan='2')
        | Day 1 ending (後續有 Dinner party)

p PS. 國際會議廳備有同步口譯設備，請於議場入口處以證件換取。以英文翻譯中文爲主

hr

h2 After Party

table.table.table-striped.table-bordered.table-hover(border='0', align='center')
  thead
    tr
      th(width="15%") Time
      th(width="80%") Location
  tbody
    tr
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 19:00 - 22:00
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | Dinner Party
        br
        a(href="https://www.facebook.com/pages/85-Lounge/162778627099534", target="_blank") 85 Lounge
        | - 台北市大安區延吉街85號
        br
p PS. 19:00 - 22:00，憑 JSDC 識別證入場，飲料，食物提供。
p
