h2 Day2 (10/12)
table.table.table-striped.table-bordered.table-hover.schedule(border='0', align='center')
  thead
    tr
      th(width="15%") Time
      th(width="40%") 國際會議廳
      th(width="40%") 第二會議廳
  tbody
    tr
      td(width='39')
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 08:30 - 09:00
      td(colspan='2')
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | Enter
    tr
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 09:00 - 09:15
      td(colspan='2')
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 開場
    tr
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 09:15 - 10:05
      td(colspan='2')
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | Microsoft / TBD
    tr
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 10:05 - 10:20
      td(colspan='2') Brunch
    tr
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 10:20 - 11:10
      td(colspan='2')
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | Jonathan / Koa - Asynchronous Decorators as Middleware
    tr
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 11:10 - 11:20
      td(colspan='2') Break
    tr
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 11:20 - 12:10
      td(width='195')
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | Jessica / TBD
      td(width='182')
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | Fred Chien / Feature-oriented Programming with JavaScript
    tr
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 12:10 - 13:10
      td(colspan='2') Lunch
    tr
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 13:10 ~ 14:00
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | Ruben / Leveraging ZMQ with Node.js
      td(rowspan='3')
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | Workshop / Building an App with Ext JS 5
    tr
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 14:00 - 14:10
      td Break
    tr
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 14:10 ~ 15:00
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 月影 / TBD
    tr
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 15:00 - 15:30
      td(colspan='2') Tea Break
    tr
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 15:30 - 16:20
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | Mathias / Node.js, p2p and MAD SCIENCE
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        div
          //
            td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
          | othree / node-ffi, 用 node 使用 c/c++ lib
    tr
      td
        //
          td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
        | 16:20 - 16:30
      td(colspan='2') Break
    tr
      td
        | 16:30 - 17:20
      td Muan / TBD
      td 閃光洽 / Famo.us - New generation of HTML5 Web Application Framework
    tr
      td 17:20 - 17:30
      td(colspan='2') Break
    tr
      td 17:30 - 18:00
      td(colspan='2') Lightning talk & Close

p PS. 國際會議廳備有同步口譯設備，請於議場入口處以證件換取。以英文翻譯中文爲主
