extends layout/en-layout

block main
  main(role="main").main
  .container
    h2 Schedule
    p 立即參與
      a(href="http://jsdc-tw.kktix.cc/events/jsdc2014", target="_blank")  JSDC 2014
      | ，別再猶豫.
      | Welcome to join
      a(href="http://jsdc-tw.kktix.cc/events/jsdc2014", target="_blank")  JSDC 2014
      |  Right now.
    include ./partial/_schedule_day1.jade
    hr
    include ./partial/_sponsor.jade
    hr

    include ./partial/_schedule_day2.jade
    p 立即參與
      a(href="http://jsdc-tw.kktix.cc/events/jsdc2014", target="_blank")  JSDC 2014
      | ，別再猶豫.
      | Welcome to join
      a(href="http://jsdc-tw.kktix.cc/events/jsdc2014", target="_blank")  JSDC 2014
      |  Right now.
