extends layout/en-layout

block main
  main(role="main").main.team
    .container
      h1 Team Members
      p
       | JSDC is JavaScript Developer Conference, it is created by a JavaScript enthusiation,
       | we are looking for speaker, trainer, space for host event.
       | Our porpuse is that make developers know thenology help them and improve technology skill.
      p
       | Open source forever, that is awesome.

      ul.member-list
        li.member
          .thumb
            img(src="http://graph.facebook.com/clonncd/picture?width=205&height=205").member-avatar
          .member-name
            | Caesar Chi
          .member-intro
            | Coordinator
          .member-social
            a(href="http://twitter.com/clonncd").icn-tw
            a(href="https://facebook.com/clonncd").icn-fb

        li.member
          .thumb
            img(src="http://graph.facebook.com/orokana.bl/picture?width=205&height=205").member-avatar
          .member-name
            | Ellis Chang
          .member-intro
            | Affairs
          .member-social
            a(href="http://twitter.com/bl_").icn-tw
            a(href="http://facebook.com/orokana.bl").icn-fb

        li.member
          .thumb
            img(src="http://graph.facebook.com/fantasyatelier/picture?width=205&height=205").member-avatar
          .member-name
            | Chia Yu Pai
          .member-intro
            | Sponsor
          .member-social
            a(href="http://twitter.com/fantasyatelier").icn-tw
            a(href="http://facebook.com/fantasyatelier").icn-fb

        li.member
          .thumb
            img(src="http://graph.facebook.com/chancheng.shih/picture?width=205&height=205").member-avatar
          .member-name
            | George Shih
          .member-intro
            | Sponsor
          .member-social
            a(href="http://twitter.com/chancheng.shih").icn-tw
            a(href="http://facebook.com/chancheng.shih").icn-fb

        li.member
          .thumb
            img(src="https://avatars0.githubusercontent.com/u/2579972?v=2&s=205").member-avatar
          .member-name
            | Cyril Hong
          .member-intro
            | Art, Marketing
          .member-social
            a(href="http://twitter.com/cyrilhong").icn-tw
            a(href="http://facebook.com/cyrilhong").icn-fb

        li.member
          .thumb
            img(src="http://graph.facebook.com/gniyop/picture?width=205&height=205").member-avatar
          .member-name
            | Poying
          .member-intro
            | Web Developer
          .member-social
            a(href="http://twitter.com/poying").icn-tw
            a(href="http://facebook.com/gniyop").icn-fb

        h1 Special Thanks

        ul.sub-member-list
          li.member
            .thumb
              img(src="http://graph.facebook.com/yyken.tw/picture?width=205&height=205").member-avatar
            a(href="http://facebook.com/yyken.tw").member-name
              | Ken Yen
            .member-intro
              | Web Developer

          li.member
            .thumb
              img(src="http://graph.facebook.com/thomaslin0710/picture?width=205&height=205").member-avatar
            a(href="http://facebook.com/thomaslin0710").member-name
              | Tomas Lin
            .member-intro
              | Web Developer

          li.member
            .thumb
              img(src="http://graph.facebook.com/1781695568/picture?width=205&height=205").member-avatar
            a(href="https://www.facebook.com/profile.php?id=1781695568").member-name
              | Stanney
            .member-intro
              | Affairs

          li.member
            .thumb
              img(src="http://www.gravatar.com/avatar/12a7b319f1db27d075682ffabf60dcf6?s=205").member-avatar
            a(href="https://leanpub.com/u/andreaing").member-name
              | Andrea
            .member-intro
              | Writer
