extends layout/layout

block main
  main(role="main").main
  .container
    h2 Schedule
    include ./partial/_schedule_day1.jade
    
    h2 Sponsor 特別感謝
    .special-thanks
      a(href="http://www.microsoft.com/", target="_blank")
        img.microsoft(src="images/sponsor/microsoft.svg", alt="台灣微軟")
      a(href="http://www.sencha.com/", target="_blank")
        img(src="images/sponsor/Sencha.png", alt="Sencha")
      a(href="http://www.kkbox.com/", target="_blank")
        img(src="images/sponsor/kkbox.png", alt="KKBox")
      a(href="http://mozilla.com.tw/", target="_blank")
        img(src="images/sponsor/mozilla.png", alt="Mozilla Taiwan")
      a(href="http://shop.fandora.tw/", target="_blank")
        img(src="images/sponsor/fandora.png", alt="Fandora")
      a(href="http://verywed.com/vwblog/veryWedHR/article/38334", target="_blank")
        img(src="images/sponsor/veryWedLogo.png", alt="veryWed")


    include ./partial/_schedule_day2.jade
