extends layout/layout

block main
  main(role="main").main.speakers
    .container
      h1 Speakers

      ul.speaker-list
        li.speaker
          img(src="/images/speakers/sencha-logo.png").speaker-avatar
          .speaker-name
            | Sencha Inc.
          .speaker-intro
            a(href="http://www.sencha.com/") www.sencha.com
          .speaker-desc Senchalab,
            a(href="http://www.sencha.com/products/") EXT.JS, mobile UI

        li.speaker
          img(src="/images/speakers/substack.png").speaker-avatar
          .speaker-name
            | James Halliday
          .speaker-intro
            a(href="https://github.com/substack") substack
          .speaker-desc
            | Creator of browserify

        li.speaker
          img(src="https://avatars3.githubusercontent.com/u/39759?v=2&s=460").speaker-avatar
          .speaker-name
            | maxwell ogden
          .speaker-intro
            a(href="https://github.com/maxogden") maxogden
          .speaker-desc
            | founder of Dat project

        li.speaker
          img(src="/images/speakers/jlord.png").speaker-avatar
          .speaker-name
            | Jessica Lord
          .speaker-intro
            a(href="https://github.com/jlord") jlord
          .speaker-desc
            | Designer and developer at github

        li.speaker
          img(src="/images/speakers/clkao.jpeg").speaker-avatar
          .speaker-name
            | CL Kao
          .speaker-intro
            a(href="https://github.com/clkao") clkao
          .speaker-desc
            | founder of g0v, pgrest


        li.speaker
          img(src="/images/speakers/lepture.jpeg").speaker-avatar
          .speaker-name
            | Hsiaoming Yang
          .speaker-intro
            a(href="https://github.com/lepture") lepture
          .speaker-desc
            | 網站全方位開發者，Python China 成員之一，參與過 
            | !{'<a href="https://github.com/spmjs">spm</a>'}（早期主要開發者之一）、
            | !{'<a href="https://github.com/seajs">seajs</a>'} 的開發，
            | 同時也熟悉 component.io，對於 JavaScript 模組化這部份
            | 相當了解，除了程式技術之外，設計方面也有研究，尤其是
            | 中文字型學（Typography），!{'<a href="https://yuehu.io/">閱乎</a>'}
            | 便是為了改善使用者文章閱讀體驗而建立的網站服務。如果想知道更多，
            | 可至 lepture 的個人 !{'<a href="http://lepture.com/">Blog</a>'} 閱讀詳
            | 細的自我解紹。

        li.speaker
          img(src="/images/speakers/fengmk2.jpeg").speaker-avatar
          .speaker-name
            | 袁锋 (苏千)
          .speaker-intro
            a(href="https://github.com/fengmk2") fengmk2
          .speaker-title
            | 支付宝技术专家
          .speaker-desc
            | FaWave作者, CNode社区核心成员, 致力于Node.js在中国的技术推广

        li.speaker
          img(src="/images/speakers/mafintosh.jpeg").speaker-avatar
          .speaker-name
            | Mathias Buus
          .speaker-intro
            a(href="https://github.com/mafintosh") Mathias Buus
          .speaker-desc
            | Creator of peerflix, torrent-mount project.

        li.speaker
          img(src="/images/speakers/jonathanong.png").speaker-avatar
          .speaker-name
            | Jonathan Ong
          .speaker-intro
            a(href="https://github.com/jonathanong") jonathanong
          .speaker-desc
            | Core member of Express.js, Koa.js.


        li.speaker
          img(src="/images/speakers/huge.jpeg").speaker-avatar
          .speaker-name
            | Huge Huang
          .speaker-intro
            a(href="https://github.com/huang47") huge47
          .speaker-desc
            | mobile developer at Netflix



        //- li.speaker
        //-   img(src="/images/speakers/hinablue.jpeg").speaker-avatar
        //-   .speaker-name
        //-     | Hina Chen
        //-   .speaker-intro
        //-     a(href="https://github.com/hinablue") hinablue

        //- li.speaker
        //-   img(src="/images/speakers/othree.jpeg").speaker-avatar
        //-   .speaker-name
        //-     | othree
        //-   .speaker-intro
        //-     a(href="https://github.com/othree") othree

        li.speaker
          img(src="/images/speakers/muan.jpeg").speaker-avatar
          .speaker-name
            | Mu-An Chiou
          .speaker-intro
            a(href="https://github.com/muan") muan
          .speaker-desc
            | Designer and developer at github


        //- li.speaker
        //-   img(src="/images/speakers/cfsghost.jpeg").speaker-avatar
        //-   .speaker-name
        //-     | Fred Chien
        //-   .speaker-intro
        //-     a(href="https://github.com/cfsghost") cfsghost

        li.speaker
          img(src="/images/speakers/akira.jpeg").speaker-avatar
          .speaker-name
            | 吳亮
          .speaker-intro
            a(href="https://github.com/akira-cn") akira-cn
          .speaker-desc
            | Developer at 360 75Team

        li.speaker
          img(src="/images/speakers/soggie.jpeg").speaker-avatar
          .speaker-name
            | Ruben Tan
          .speaker-intro
            a(href="https://github.com/soggie") soggie
          .speaker-desc
            | Javascript Wrangler at MyTeksi
