extends layout/layout

block main
  main(role="main").main.speakers
    .container
      ul.speaker-list
        li.speaker
          img(src="/images/speakers/sencha-logo.png").speaker-avatar
          .speaker-name
            | Sencha Inc.
          .speaker-intro
            | Website: 
            a(href="http://www.sencha.com/") www.sencha.com

        li.speaker
          img(src="/images/speakers/substack.png").speaker-avatar
          .speaker-name
            | James Halliday
          .speaker-intro
            | GitHub: 
            a(href="https://github.com/substack") substack

        li.speaker
          img(src="/images/speakers/maxogden.jpeg").speaker-avatar
          .speaker-name
            | maxwell ogden
          .speaker-intro
            | GitHub: 
            a(href="https://github.com/maxogden") maxogden

        li.speaker
          img(src="/images/speakers/josephj.jpeg").speaker-avatar
          .speaker-name
            | JosephJ
          .speaker-intro
            | GitHub: 
            a(href="https://github.com/josephj") josephj

        li.speaker
          img(src="/images/speakers/jlord.png").speaker-avatar
          .speaker-name
            | Jessica Lord
          .speaker-intro
            | GitHub: 
            a(href="https://github.com/jlord") jlord

        li.speaker
          img(src="/images/speakers/clkao.jpeg").speaker-avatar
          .speaker-name
            | CL Kao
          .speaker-intro
            | GitHub: 
            a(href="https://github.com/clkao") clkao

        li.speaker
          img(src="/images/speakers/lepture.jpeg").speaker-avatar
          .speaker-name
            | Hsiaoming Yang
          .speaker-intro
            | GitHub: 
            a(href="https://github.com/lepture") lepture

        li.speaker
          img(src="/images/speakers/fengmk2.jpeg").speaker-avatar
          .speaker-name
            | fengmk2
          .speaker-intro
            | GitHub: 
            a(href="https://github.com/fengmk2") fengmk2

        li.speaker
          img(src="/images/speakers/mafintosh.jpeg").speaker-avatar
          .speaker-name
            | Mathias Buus
          .speaker-intro
            | GitHub: 
            a(href="https://github.com/mafintosh") Mathias Buus

        li.speaker
          img(src="/images/speakers/jonathanong.png").speaker-avatar
          .speaker-name
            | Jonathan Ong
          .speaker-intro
            | GitHub: 
            a(href="https://github.com/jonathanong") jonathanong

        li.speaker
          img(src="/images/speakers/hinablue.jpeg").speaker-avatar
          .speaker-name
            | Hina Chen
          .speaker-intro
            | GitHub: 
            a(href="https://github.com/hinablue") hinablue

        li.speaker
          img(src="/images/speakers/othree.jpeg").speaker-avatar
          .speaker-name
            | othree
          .speaker-intro
            | GitHub: 
            a(href="https://github.com/othree") othree

        li.speaker
          img(src="/images/speakers/cfsghost.jpeg").speaker-avatar
          .speaker-name
            | Fred Chien
          .speaker-intro
            | GitHub: 
            a(href="https://github.com/cfsghost") cfsghost

        li.speaker
          img(src="/images/speakers/soggie.jpeg").speaker-avatar
          .speaker-name
            | Ruben Tan Long Zheng
          .speaker-intro
            | GitHub: 
            a(href="https://github.com/soggie") soggie
