extends layout/layout

block main
  main(role="main").main.speakers
    .container
      h1 JSDC 2014 Speakers
      p There are speakers, welcome join
        a(href="httpp://jsdc-tw.kktix.cc/events/jsdc2014", target="_blank") JSDC 2014
        | , about
        a(href="/schedule.html", target="_blank")  JSDC schedule


      ul.speaker-list
        li.speaker
          img(src="/images/speakers/sencha-logo.png").speaker-avatar
          .speaker-name
            | Sencha Inc.
          .speaker-intro
            a(href="http://www.sencha.com/") www.sencha.com
          .speaker-desc Senchalab,
            a(href="http://www.sencha.com/products/") EXT.JS, mobile UI

        li.speaker
          img(src="/images/speakers/substack.png").speaker-avatar
          .speaker-name
            | James Halliday
          .speaker-intro
            a(href="https://github.com/substack") substack
          .speaker-title
            | Creator of browserify
          .speaker-desc
            | open source librarian. co-founder of
            a(href="http://browserling.com") http://browserling.com
            | and
            a(href="http://testling.com") http://testling.com
            | beep boop.

        li.speaker
          img(src="https://avatars3.githubusercontent.com/u/39759?v=2&s=460").speaker-avatar
          .speaker-name
            | maxwell ogden
          .speaker-intro
            a(href="https://github.com/maxogden") maxogden
          .speaker-title
            | founder of Dat
          .speaker-desc
            | working for @opendata on @dat_project, a data package manager for open science

        li.speaker
          img(src="/images/speakers/jlord.png").speaker-avatar
          .speaker-name
            | Jessica Lord
          .speaker-intro
            a(href="https://github.com/jlord") jlord
          .speaker-title
            | Designer and developer at github
          .speaker-desc
            | githubber, design, javascript, open source + oakland // alum reppin: code for america, city of boston urban design dept

        li.speaker
          img(src="/images/speakers/clkao.jpeg").speaker-avatar
          .speaker-name
            | clkao
          .speaker-intro
            a(href="https://github.com/clkao") clkao
          .speaker-title
            | Socialtext, g0v
          .speaker-desc
            | Chia-liang Kao is an active open source software developer since 2000.
            br
            | Kao is best known for creating SVK, a distributed version control system based on Subversion. Lately he has been working with LiveScript and PgREST, and co-founded the g0v.tw open government initiative in 2012.

        li.speaker
          img(src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/255240_10150986318676398_98791455_n.jpg?oh=570482b698617aee1f6010a864a70be9&oe=547C8DA5&__gda__=1416566828_0b6c57252e8e51a5bfc24445706686b6").speaker-avatar
          .speaker-name
            | Casear Chu
          .speaker-intro
            a(href="https://github.com/Casear") Casear
          .speaker-title
            | SlideNow founder
          .speaker-desc
            | 從Big Data, System infrastructure 到 Web front end design 都有興趣的小工程師，目前正著迷于total.js framework , zmq  與 meteor，現為 SlideNow 的創辦人...

        li.speaker
          img(src="/images/speakers/lepture.jpeg").speaker-avatar
          .speaker-name
            | Hsiaoming Yang
          .speaker-intro
            a(href="https://github.com/lepture") lepture
          .speaker-title
            | founder of yuehu.io
          .speaker-desc
            | 網站全方位開發者，Python China 成員之一，參與過
            | !{'<a href="https://github.com/spmjs">spm</a>'}（早期主要開發者之一）、
            | !{'<a href="https://github.com/seajs">seajs</a>'} 的開發，
            | 同時也熟悉 component.io，對於 JavaScript 模組化這部份
            | 相當了解，除了程式技術之外，設計方面也有研究，尤其是
            | 中文字型學（Typography），!{'<a href="https://yuehu.io/">閱乎</a>'}
            | 便是為了改善使用者文章閱讀體驗而建立的網站服務。如果想知道更多，
            | 可至 lepture 的個人 !{'<a href="http://lepture.com/">Blog</a>'} 閱讀詳
            | 細的自我介紹。

        li.speaker
          img(src="http://f.cl.ly/items/3K0L32190s1I193C2S2s/1157511_10151703860008423_1394089489_n.jpg").speaker-avatar
          .speaker-name
            | Jeremy Lu
          .speaker-intro
            a(href="https://github.com/coodoo") coodoo
          .speaker-title
            | Founder - visual-marks.com, docknote.com
          .speaker-desc
            | Lovelyreader, Pubulous, Visual-marks, Docknote 創辦人，擅長開發大型分散式網路與行動應用程式，目前七成時間使用 reactjs/flux 開發 Single Page Application, 三成時間使用 nodejs/loopback 開發 API 後台，技術之餘，即恢復創辦人角色外出推廣產品與規畫經營方向。

        li.speaker
          img(src="/images/speakers/fengmk2.jpeg").speaker-avatar
          .speaker-name
            | 袁锋 (苏千)
          .speaker-intro
            a(href="https://github.com/fengmk2") fengmk2
          .speaker-title
            | 支付寶技術專家
          .speaker-desc
            | FaWave作者, CNode社區核心成員, 致力於Node.js在中國的技術推廣

        li.speaker
          img(src="/images/speakers/mafintosh.jpeg").speaker-avatar
          .speaker-name
            | Mathias Buus
          .speaker-intro
            a(href="https://github.com/mafintosh") Mathias Buus
          .speaker-title
            | Open source developer
          .speaker-desc
            | Author of peerflix, Streaming torrent client for node.js, torrent-mount

        li.speaker
          img(src="/images/speakers/jonathanong.png").speaker-avatar
          .speaker-name
            | Jonathan Ong
          .speaker-intro
            a(href="https://github.com/jonathanong") jonathanong
          .speaker-title
            | Freelancer
          .speaker-desc
            | author of Koa, normalize, polyfills


        li.speaker
          img(src="/images/speakers/huge.jpeg").speaker-avatar
          .speaker-name
            | Huge Huang
          .speaker-intro
            a(href="https://github.com/huang47") huge47
          .speaker-desc
            | mobile developer at Netflix



        li.speaker
          img(src="http://www.gravatar.com/avatar/e3ae72c70bbc66b854df24df2120a245.jpg?size=200").speaker-avatar
          .speaker-name
            | 閃光洽 (Hina Chen)
          .speaker-intro
            a(href="https://github.com/hinablue") hinablue
          .speaker-title
            | full stack Engineer
          .speaker-desc
            | 偏執與強迫症的患者，喜歡把玩新的東西，希望 JavaScript 有一天能上太空！

        li.speaker
          img(src="https://secure.gravatar.com/avatar/c4ce16f549c450f4759eb37f5d5d1a63.png?s=205").speaker-avatar
          .speaker-name
            | othree
          .speaker-intro
            a(href="https://github.com/othree") othree
          .speaker-title
            | F2E
          .speaker-desc
            | othree，十多年前為了製作個人網頁而自學起 HTML、CSS 和 JavaScript，接著便一頭栽進網路標準的世界，並持續關注網路前端技術的發展，不時在部落格及各活動分享新知，近期關注 HTML5、CSS3、Web API、語意網等議題，被認為專長於 JavaScript，其實最喜歡寫的是漂亮的 HTML Markup，現職為 HTC 前端工程師（F2E）兼博士生。

        li.speaker
          img(src="/images/speakers/muan.jpeg").speaker-avatar
          .speaker-name
            | Mu-An Chiou
          .speaker-intro
            a(href="https://github.com/muan") muan
          .speaker-title
            | Designer at GitHub
          .speaker-desc
            | Designer and developer at github. , co-founder of Zeczec. Currently traveling from Taipei.


        li.speaker
          img(src="http://en.gravatar.com/userimage/10121824/98b15bd27e185433ef9af778d52a0545.jpg?size=200").speaker-avatar
          .speaker-name
            | Fred Chien
          .speaker-intro
            a(href="https://github.com/cfsghost") cfsghost
          .speaker-title
            | Chief Geek Officer
          .speaker-desc
            | HanGee 國民機運動發起人，一個職業夢想家，也是第一個在全球直播的 COSCUP 和國際舞台上發表退學宣言的人。Fred 是一個自由軟體開發者，近年來投入 Node.js 技術並致力於推廣事業，也專注於嵌入式裝置、伺服器技術、網站應用程式以及桌面環境等領域，閒暇時也研究 Linux 核心、驅動程式或作業系統相關技術。熱愛自由軟體，尤其喜歡貢獻個人經驗，時而發表並公開他的開發經驗在網站上。 Blog:
            a(href="http://fred-zone.blogspot.com/") http://fred-zone.blogspot.com/

        li.speaker
          img(src="/images/speakers/akira.jpeg").speaker-avatar
          .speaker-name
            | 吳亮
          .speaker-intro
            a(href="https://github.com/akira-cn") akira-cn
          .speaker-title
            | 奇虎 360 高級技術經理
          .speaker-desc
            | 曾百度擔任過Web開發項目經理，在盛大創新院擔任前端負責人。有多年團隊管理經驗。多年來致力於 JavaScript 技術和 Web 標準的推廣，活躍於國內各技術社區，現任 w3ctech 顧問

        li.speaker
          img(src="/images/speakers/soggie.jpeg").speaker-avatar
          .speaker-name
            | Ruben Tan
          .speaker-intro
            a(href="https://github.com/soggie") soggie
          .speaker-desc
            | Javascript Wrangler at MyTeksi

        li.speaker
          img(src="https://s.gravatar.com/avatar/322e4d816ebeaaebd43c93e6b678ff52?s=205&r=g").speaker-avatar
          .speaker-name
            | Ben Lue
          .speaker-intro
            a(href="https://github.com/benlue") benlue
          .speaker-title
            | CEO
          .speaker-desc
            | 獨立軟體開發者。旅美期間曾在IBM Almaden Research Center, Cognos Inc., NetClue Corp.等公司工作。所創立的 NetClue Corp.為多家公司的收購目標。返台後喜歡自創軟體，目前為 COIMOTION API 服務的總架構師。
