extends layout/layout

block main
  main(role="main").main.speakers
    .container
      ul.speaker-list
        li.speaker
          img(src="https://avatars2.githubusercontent.com/u/347807?s=460").speaker-avatar
          .speaker-name
            | Caesar Chi
          .speaker-intro
            | Focus on user expriences and web front end technical.
            | Learing and teaching is a life style. We can rock the world. 

        li.speaker
          img(src="https://avatars2.githubusercontent.com/u/347807?s=460").speaker-avatar
          .speaker-name
            | Caesar Chi
          .speaker-intro
            | Focus on user expriences and web front end technical.
            | Learing and teaching is a life style. We can rock the world. 

        li.speaker
          img(src="https://avatars2.githubusercontent.com/u/347807?s=460").speaker-avatar
          .speaker-name
            | Caesar Chi
          .speaker-intro
            | Focus on user expriences and web front end technical.
            | Learing and teaching is a life style. We can rock the world. 

        li.speaker
          img(src="https://avatars2.githubusercontent.com/u/347807?s=460").speaker-avatar
          .speaker-name
            | Caesar Chi
          .speaker-intro
            | Focus on user expriences and web front end technical.
            | Learing and teaching is a life style. We can rock the world. 

        li.speaker
          img(src="https://avatars2.githubusercontent.com/u/347807?s=460").speaker-avatar
          .speaker-name
            | Caesar Chi
          .speaker-intro
            | Focus on user expriences and web front end technical.
            | Learing and teaching is a life style. We can rock the world. 

        li.speaker
          img(src="https://avatars2.githubusercontent.com/u/347807?s=460").speaker-avatar
          .speaker-name
            | Caesar Chi
          .speaker-intro
            | Focus on user expriences and web front end technical.
            | Learing and teaching is a life style. We can rock the world. 

        li.speaker
          img(src="https://avatars2.githubusercontent.com/u/347807?s=460").speaker-avatar
          .speaker-name
            | Caesar Chi
          .speaker-intro
            | Focus on user expriences and web front end technical.
            | Learing and teaching is a life style. We can rock the world. 

        li.speaker
          img(src="https://avatars2.githubusercontent.com/u/347807?s=460").speaker-avatar
          .speaker-name
            | Caesar Chi
          .speaker-intro
            | Focus on user expriences and web front end technical.
            | Learing and teaching is a life style. We can rock the world. 

        li.speaker
          img(src="https://avatars2.githubusercontent.com/u/347807?s=460").speaker-avatar
          .speaker-name
            | Caesar Chi
          .speaker-intro
            | Focus on user expriences and web front end technical.
            | Learing and teaching is a life style. We can rock the world. 

        li.speaker
          img(src="https://avatars2.githubusercontent.com/u/347807?s=460").speaker-avatar
          .speaker-name
            | Caesar Chi
          .speaker-intro
            | Focus on user expriences and web front end technical.
            | Learing and teaching is a life style. We can rock the world. 
