extends layout/layout

block main
  .page-cover.page-cover-sponsoring
  main(role="main").page-main
    .container
      h1 Sponsoring
      p
        | We have a wide variety of sponsoring opportunities available. 
        | They usually sell out quickly :) Talk to us: 
        a(href="mailto:hq@jsdc.tw") hq@jsdc.tw

      p
        img(src="/images/sponsoring.jpg")
