extends layout/layout

block main
  main(role="main").main.sponsoring
    //- .page-cover.page-cover-sponsoring
    .container
      h1 JSDC 2014 Sponsors
      h2.titanium Titanium Sponsor
      .sponsor.titanium
        a.outer(href="http://www.microsoft.com/")
          img(src="images/sponsor/kkbox.png", alt="--SPONSOR--")
        .description Microsoft

      h2.platinum Platinum Sponsor
      .sponsor.platinum
        a.outer(href="http://www.amazon.com/", "")
          img(src="images/sponsor/kkbox.png", alt="--SPONSOR--")
        .description fdsafdsa fdsafdsfds

      h2.gold Gold Sponsor
      .sponsor.gold
        a.outer(href="http://www.amazon.com/", "")
          img(src="images/sponsor/kkbox.png", alt="--SPONSOR--")
        .description Sopnsor name

      h2.silver Silver Sponsor
      .sponsor.silver
        a.outer(href="http://www.amazon.com/", "")
          img(src="images/sponsor/kkbox.png", alt="--SPONSOR--")
        .description Sopnsor name
      //- .sponsor
      //-   a(href="http://2014.jsdc.tw", "title")
      //-     img(src="/images/sponsor/jsdc_logo.png")
      //-   .description
      //-     a.brand(href="#jsdc") JSDC 2014
      //-     | there is jsdc offical logo, if you are want to sponsor us, please contact us
      //- .sponsor
      //-   img(src="/images/sponsor/jsdc_logo.png")
      //-   .description
      //-     | there is jsdc offical logo, if you are want to sponsor us, please contact us
      //- .sponsor
      //-   img(src="/images/sponsor/jsdc_logo.png")
      //-   .description
      //-     | there is jsdc offical logo, if you are want to sponsor us, please contact us
    .container
      .call-sponsor
        h3 Sponsoring
        p
          | We have a wide variety of sponsoring opportunities available.
          | They usually sell out quickly :) Talk to us:
          a(href="mailto:hq@jsdc.tw") hq@jsdc.tw
    section.section.section-cover
      .section-cover-logo
