extends layout/layout

block main
  main(role="main").main.sponsoring
    //- .page-cover.page-cover-sponsoring
    .container
      h1 JSDC 2014 Sponsors
      //- h2.titanium Titanium Sponsor
      //- .sponsor.titanium
      //-   a.outer(href="http://www.microsoft.com/")
      //-     img(src="images/sponsor/kkbox.png", alt="--SPONSOR--")
      //-   .description Microsoft

      h2.platinum Platinum Sponsor
      .sponsor.platinum
        a.outer(href="http://www.sencha.com/", "")
          img(src="images/sponsor/Sencha.png", alt="Sencha", style="width:210px;")
        .description Sencha provides HTML5-based app development tools and services for building universal apps that run on any device.

      h2.gold Gold Sponsor
      .sponsor.gold
        a.outer(href="http://www.kkbox.com/", "")
          img(src="images/sponsor/kkbox.png", alt="KKBox")
        .description KKBOX 致力打造一個不受時空限制、讓人們輕鬆享受聽音樂、並與同好分享樂趣的平台。除了提供獨家影音、藝人專訪、演唱會現場報導、娛樂新聞、樂評等豐富完整的編輯內容，KKBOX「一起聽」也讓你可以跟著朋友、歌手、名人一起聽同一首歌曲，並與對方即時聊天，讓聽音樂變得更互動、更有趣。近年也陸續推出了《Let’s Music! KKBOX 音樂誌》月刊、KKTIX 售票亭」線上售票服務、以及「KKBOX Live 音樂現場」系列演唱會，提供全方位的娛樂體驗和服務，期望透過不同的媒體將音樂推向更廣大的市場，滿足樂迷的多樣需求。

      //- h2.silver Silver Sponsor
      //- .sponsor.silver
      //-   a.outer(href="http://www.amazon.com/", "")
      //-     img(src="images/sponsor/kkbox.png", alt="--SPONSOR--")
      //-   .description Sopnsor name
      //- .sponsor
      //-   a(href="http://2014.jsdc.tw", "title")
      //-     img(src="/images/sponsor/jsdc_logo.png")
      //-   .description
      //-     a.brand(href="#jsdc") JSDC 2014
      //-     | there is jsdc offical logo, if you are want to sponsor us, please contact us
      //- .sponsor
      //-   img(src="/images/sponsor/jsdc_logo.png")
      //-   .description
      //-     | there is jsdc offical logo, if you are want to sponsor us, please contact us
      //- .sponsor
      //-   img(src="/images/sponsor/jsdc_logo.png")
      //-   .description
      //-     | there is jsdc offical logo, if you are want to sponsor us, please contact us
    .container
      .call-sponsor
        h3 Sponsoring
        p
          | We have a wide variety of sponsoring opportunities available.
          | They usually sell out quickly :) Talk to us:
          a(href="mailto:hq@jsdc.tw") hq@jsdc.tw
    section.section.section-cover
      .section-cover-logo
