extends layout/layout

block main
  main(role="main").main.sponsoring
    //- .page-cover.page-cover-sponsoring
    .container
      .text
        h1 Sponsoring
        p
          | We have a wide variety of sponsoring opportunities available.
          | They usually sell out quickly :) Talk to us: 
          a(href="mailto:hq@jsdc.tw") hq@jsdc.tw

      a.img-link(href="mailto:hq@jsdc.tw")
        img(src="/images/sponsoring.jpg")
    section.section.section-cover
      .section-cover-logo
