extends layout/layout

block main
  main(role="main").main.sponsoring
    //- .page-cover.page-cover-sponsoring
    .container
      h1 JSDC 2014 Sponsors
      .sponsor
        a(href="http://2014.jsdc.tw", "title")
          img(src="/images/sponsor/jsdc_logo.png")
        .description
          a.brand(href="#jsdc") JSDC 2014
          | there is jsdc offical logo, if you are want to sponsor us, please contact us
      .sponsor
        img(src="/images/sponsor/jsdc_logo.png")
        .description
          | there is jsdc offical logo, if you are want to sponsor us, please contact us
      .sponsor
        img(src="/images/sponsor/jsdc_logo.png")
        .description
          | there is jsdc offical logo, if you are want to sponsor us, please contact us
    .container
      .text
        h1 Sponsoring
        p
          | We have a wide variety of sponsoring opportunities available.
          | They usually sell out quickly :) Talk to us:
          a(href="mailto:hq@jsdc.tw") hq@jsdc.tw

      a.img-link(href="mailto:hq@jsdc.tw")
        img(src="/images/sponsoring.jpg")
    section.section.section-cover
      .section-cover-logo
