extends layout/layout

block main
  main(role="main").main.sponsoring
    //- .page-cover.page-cover-sponsoring
    .container
      h1 JSDC 2014 Sponsors
      h2.titanium Titanium Sponsor
      .sponsor.titanium
        a.outer(href="http://www.microsoft.com/")
          img(src="images/sponsor/microsoft.svg", alt="台灣微軟")
        .description Azure微軟公司所提供之國際級雲端平台，全球設有13個大型資料中心，總投資金額超過 150億美金, 服務遍及140個國家以及支援10種語言. IaaS 部分支援 Linux 及Windows 作業系統，PaaS 部分支援 ASP.NET, PHP, Java, Node.js, Python等，資料庫部分支援Microsoft SQL Server, Oracle 與 MySQL，是一開放之雲端平台，核心服務通過ISO 27007,PCI DSS,HIPAA,SOC 1,SOC 2,FedRAMP,UK G-Cloud 等多項國際資安認證，提供 99.9 至 99.95 不停機服務水準保證之穩固服務。

      h2.platinum Platinum Sponsor
      .sponsor.platinum
        a.outer(href="http://www.sencha.com/", "")
          img(src="images/sponsor/Sencha.png", alt="Sencha", style="")
        .description Sencha provides HTML5-based app development tools and services for building universal apps that run on any device.

      h2.gold Gold Sponsor
      .sponsor.gold
        a.outer(href="http://www.kkbox.com/", "")
          img(src="images/sponsor/kkbox.png", alt="KKBox")
        .description KKBOX 致力打造一個不受時空限制、讓人們輕鬆享受聽音樂、並與同好分享樂趣的平台。除了提供獨家影音、藝人專訪、演唱會現場報導、娛樂新聞、樂評等豐富完整的編輯內容，KKBOX「一起聽」也讓你可以跟著朋友、歌手、名人一起聽同一首歌曲，並與對方即時聊天，讓聽音樂變得更互動、更有趣。近年也陸續推出了《Let’s Music! KKBOX 音樂誌》月刊、KKTIX 售票亭」線上售票服務、以及「KKBOX Live 音樂現場」系列演唱會，提供全方位的娛樂體驗和服務，期望透過不同的媒體將音樂推向更廣大的市場，滿足樂迷的多樣需求。

      .sponsor.gold
        a.outer(href="http://shop.fandora.tw/", "")
          img(src="images/sponsor/fandora.png", alt="Fandora")
        .description Fandora Shop 是一個販售許多獨特圖像訂製商品的品牌，我們希望每個人都能夠在這裡，探索並發掘屬於自己的繽紛色彩。Fandora Shop 從 2013 年開站至今，已與超過 700 位的插畫、設計、藝術家合作，創造出超過上萬件的繽紛圖像商品，除了各式各樣的彩繪Tee外，還有極具特色的 iPhone 彩繪殼、三星系列皮套、彩繪束口包等獨特商品供的大家選擇。其中還包含許多粉絲超過10萬的人氣創作者如：麵包樹、力恩君、潘地耶、小椪妹、法鬥哥、Vier .....等，更吸引了英國廣播電視台 BBC 前來專訪。目前 Fandora 正以圖像創作號招者的角色活躍於文創界，讓美好的圖像創作以各種形式繽紛每個人的生活。Color your Life, Fandora Shop.

      .sponsor.gold
        a.outer(href="http://mozilla.com.tw/", "")
          img(src="images/sponsor/mozilla.png", alt="Mozilla Taiwan")
        .description 由 Mozilla 基金會所擁有，是一個全球化的非營利組織，其願景是打造一個開放自由的網路未來，提升人們的網路經驗，並支持開放源碼的資源共享精神。 主要推廣產品為 Firefox、Firefox for Android、Firefox OS。其中Firefox 瀏覽器為全球市場前三大瀏覽器，在世界各地擁有數億名愛好者，並提供80多種語言免費下載。Firefox for Android 在 Google Play 榮獲使用者 4 顆星的評價。Firefox OS 為全新概念的開放網路行動作業系統。

      h2.silver Silver Sponsor
      .sponsor.silver
        a.outer(href="http://verywed.com/vwblog/veryWedHR/article/38334", "")
          img(src="images/sponsor/veryWedLogo.png", alt="veryWed", style="height: 45px;")
        .description 「veryWed非常婚禮」為一結婚社群網站。站內提供豐富的婚禮籌備相關資訊與婚後生活討論，及多項專屬婚禮規劃工具供veryWed會員使用。

      h2.special Special Thanks
      .sponsor.special
        a.outer(href="http://tenlong.com.tw", "")
          img(src="images/sponsor/tenlong.png", alt="天瓏資訊", style="height: 40px;")

        a.outer(href="http://www.openfoundry.org/", "")
          img(src="images/sponsor/ossf.png", alt="Open Foundry", style="height: 40px;")

        a.outer(href="http://www.ithome.com.tw/", "")
          img(src="images/sponsor/ithome.png", alt="iThome", style="height: 36px;")

      //- .sponsor
      //-   a(href="http://2014.jsdc.tw", "title")
      //-     img(src="/images/sponsor/jsdc_logo.png")
      //-   .description
      //-     a.brand(href="#jsdc") JSDC 2014
      //-     | there is jsdc offical logo, if you are want to sponsor us, please contact us
      //- .sponsor
      //-   img(src="/images/sponsor/jsdc_logo.png")
      //-   .description
      //-     | there is jsdc offical logo, if you are want to sponsor us, please contact us
      //- .sponsor
      //-   img(src="/images/sponsor/jsdc_logo.png")
      //-   .description
      //-     | there is jsdc offical logo, if you are want to sponsor us, please contact us
    .container
      .call-sponsor
        p
          | We have a wide variety of sponsoring opportunities available.
          | They usually sell out quickly :) Talk to us:
          a(href="mailto:hq@jsdc.tw") hq@jsdc.tw
    section.section.section-cover
      .section-cover-logo
