extends layout/layout

block main
  main(role="main").main.team
    .container
      h1 Team Members

      ul.member-list
        li.member
          .thumb
            img(src="/images/team/member.png").member-avatar
            a(href="http://github.com/xx").icn-gh
            a(href="http://twitter.com/xx").icn-tw
            a(href="http://facebook.com/xx").icn-fb
          .member-name
            | member name
          .member-intro
            | Developer

        li.member
          .thumb
            img(src="/images/team/member.png").member-avatar
            a(href="http://github.com/xx").icn-gh
            a(href="http://twitter.com/xx").icn-tw
            a(href="http://facebook.com/xx").icn-fb
          .member-name
            | member name
          .member-intro
            | Developer


        li.member
          .thumb
            img(src="/images/team/member.png").member-avatar
            a(href="http://github.com/xx").icn-gh
            a(href="http://twitter.com/xx").icn-tw
            a(href="http://facebook.com/xx").icn-fb
          .member-name
            | member name
          .member-intro
            | Developer


        li.member
          .thumb
            img(src="/images/team/member.png").member-avatar
            a(href="http://github.com/xx").icn-gh
            a(href="http://twitter.com/xx").icn-tw
            a(href="http://facebook.com/xx").icn-fb
          .member-name
            | member name
          .member-intro
            | Developer

        li.member
          .thumb
            img(src="/images/team/member.png").member-avatar
            a(href="http://github.com/xx").icn-gh
            a(href="http://twitter.com/xx").icn-tw
            a(href="http://facebook.com/xx").icn-fb
          .member-name
            | member name
          .member-intro
            | Developer

        li.member
          .thumb
            img(src="/images/team/member.png").member-avatar
            a(href="http://github.com/xx").icn-gh
            a(href="http://twitter.com/xx").icn-tw
            a(href="http://facebook.com/xx").icn-fb
          .member-name
            | member name
          .member-intro
            | Developer
