extends layout/layout

block main
  main(role="main").main.team
    .container
      h1 Team Members
      p
       | JSDC is JavaScript Developer Conference, it is created by a JavaScript enthusiation,
       | we are looking for speaker, trainer, space for host event.
       | Our porpuse is that make developers know thenology help them and improve technology skill.
      p
       | Open source forever, that is awesome.

      ul.member-list
        li.member
          .thumb
            img(src="http://graph.facebook.com/clonncd/picture?width=205&height=205").member-avatar
          .member-name
            | Caesar Chi
          .member-intro
            | Co-fonder
          .member-social
            a(href="http://twitter.com/clonncd").icn-tw
            a(href="https://facebook.com/clonncd").icn-fb

        li.member
          .thumb
            img(src="http://graph.facebook.com/orokana.bl/picture?width=205&height=205").member-avatar
          .member-name
            | Ellis Chang
          .member-intro
            | Affairs
          .member-social
            a(href="http://twitter.com/bl_").icn-tw
            a(href="http://facebook.com/orokana.bl").icn-fb

        li.member
          .thumb
            img(src="http://graph.facebook.com/fantasyatelier/picture?width=205&height=205").member-avatar
          .member-name
            | Chia Yu Pai
          .member-intro
            | Sponsor
          .member-social
            a(href="http://twitter.com/fantasyatelier").icn-tw
            a(href="http://facebook.com/fantasyatelier").icn-fb

        li.member
          .thumb
            img(src="https://avatars0.githubusercontent.com/u/2579972?v=2&s=205").member-avatar
          .member-name
            | Cyril Hong
          .member-intro
            | Art, Marketing
          .member-social
            a(href="http://twitter.com/cyrilhong").icn-tw
            a(href="http://facebook.com/cyrilhong").icn-fb

        li.member
          .thumb
            img(src="http://graph.facebook.com/gniyop/picture?width=205&height=205").member-avatar
          .member-name
            | Poying
          .member-intro
            | Web Developer
          .member-social
            a(href="http://twitter.com/poying").icn-tw
            a(href="http://facebook.com/gniyop").icn-fb

        li.member
          .thumb
            img(src="http://graph.facebook.com/chancheng.shih/picture?width=205&height=205").member-avatar
          .member-name
            | George Shih
          .member-intro
            | Sponsor
          .member-social
            a(href="http://twitter.com/chancheng.shih").icn-tw
            a(href="http://facebook.com/chancheng.shih").icn-fb

        li.member
          .thumb
            img(src="/images/team/member.png").member-avatar
          .member-name
            | member name
          .member-intro
            | Developer
          .member-social
            a(href="http://github.com/xx").icn-gh
            a(href="http://twitter.com/xx").icn-tw
            a(href="http://facebook.com/xx").icn-fb
