@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300|Lato:700);

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: #2c2f1e;
}

a {
  color: #56c7ed;
  text-decoration: none;
}

.clearfix {
	zoom: 1;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.container {
  position: relative;
  margin: 0 auto;
	max-width: 1024px;
}

.sponsoring .img-link {
  text-align: center;
}

.sponsoring .section-cover {
  border-top: 1px solid #7c7c7c;
}

.speaker-list {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: 0;
}

.speaker {
	width: auto;
	width: 28%;
	margin: 48px 0;
	text-align: center;
	-webkit-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
}

.speaker-avatar {
	width: 240px;
	height: 240px;
	border-radius: 5px;
	border: 5px #f9f4f8 solid;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	transition: all .4s;
	transform-style: preserve-3d;
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-ms-transform: rotateY(0);
	transform: rotateY(0);
}

.speaker:hover .speaker-avatar {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.speaker-name {
	margin-top: 12px;
	font-size: 2.8rem;
}

.speaker-desc {
  color: #7c7c7c;
}


.team .thumb {
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background: #dfdfdf;
  border: 10px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #dfdfdf;
  margin: 0 30px 15px;
  padding: 1px;
  position: relative;
}

.team img {
  -webkit-transition: opacity 0.2s ease-in-out,-webkit-filter 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out,-webkit-filter 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out,-webkit-filter 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out,-webkit-filter 0.2s ease-in-out;
  border-radius: 50%;
  display: block;
  max-width: 100%;
}

.sub-member-list,
.member-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.member {
  width: auto;
  width: 28%;
  margin: 48px 0;
  text-align: center;
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}


.sub-member-list .member {
  width: 18%;
}

.member-name {
  margin-top: 12px;
  font-size: 2.8rem;
}
.sub-member-list .member-name {
  font-size: 2.0rem;
}

.member-social a {
  background: url('images/sprite-icon.png?ver=1.1.8') no-repeat 0 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  margin: 0 14px 0 0;
  vertical-align: top;
  display: inline-block;
}

a.icn-fb {
  background-position: 0 0;
}

a.icn-tw {
  background-position: 0 -32px;
}

a.icn-gh {
  background-position: 0 -64px;
}

.wrapper {
  overflow-x: hidden;
}

.topbar {
  position: relative;
  z-index: 10;
  background: #f9f4f8;
  height: 86px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}

.topbar a {
  color: #4c474b;
  text-decoration: none;
}

.topbar .container {
  height: 86px;
}

.topbar-sitename {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 170px;
  height: 86px;
  background: url(./images/logo.png) center no-repeat;
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
}

.topbar-sitename a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.topbar-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 59px;
  white-space: nowrap;
  text-align: right;
  line-height: 59px;
  font-weight: 300;
}

.topbar-menu {
  margin: 0;
  list-style: none;
}

.topbar-menu-item {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 44px;
}

.section {
  position: relative;
  min-height: 706px;
}

.section-cover {
  z-index: 1;
  text-align: center;
  border-bottom: 2px #d85e4f solid;
  min-height: 500px;
}

.section-cover-logo {
  margin: 48px auto;
  width: 990px;
  height: 350px;
  background: url(./images/activity.jpg?tmp=20140617);
}

.section-cover-mask {
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  margin-left: -875px;
  margin-top: -690px;
  width: 1750px;
  height: 1750px;
  background: url(./images/mask.png);
  pointer-events: none;
}

.section-cover-date {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: 155px;
  margin-left: -212px;
  width: 424px;
  font-size: 3.2rem;
  font-weight: bold;
}

.section-cover-month {
  color: #5c8012;
}

.section-cover-days {
  color: #ba381e;
}

.section-cover-city {
  color: #226578;
}

.section-cover-title {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 300;
}

.section-cover-ticket{
    margin: 10px auto;
    line-height:180%;
    font-size:1.5em;
    /*background:#5B585F;*/
    width: 50%;
}

.section-cover-ticket a{
    color:#FFFFFF;
}

.section-cover-countdown #countblock{
    margin: 10px auto;
    width:100%;
}

.section-cover-countdown #countblock div{
    margin:0 15px;
    width:60px;
    display:inline-block;
    background:#000000;
    color:#FFFFFF;
    line-height:180%;
    font-size:2em;
}


.section-cover-countunit div{
    margin:0 20px;
    width:50px;
    display:inline-block;
    line-height:150%;
    font-size:1em;
}

.section-intro {
  background: url(./images/photo.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  border-bottom: 3px #8cad2a solid;
}

.section-intro-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
}

.section-intro-container {
  position: relative;
  z-index: 1;
  width: 680px;
  margin: 128px auto 0;
}

.section-intro-title {
  margin-bottom: 58px;
  font-size: 2.8rem;
  font-weight: normal;
  text-align: center;
}

.section-intro-content {
  text-align: justify;
  line-height: 2em;
}

.section-regist {
  text-align: center;
  overflow: hidden;
  min-height: 0;
  border-bottom: 3px #3d91bd solid;
}
/*.section-regist img {
  -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
     -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
        filter: grayscale(100%);
}*/
.section-regist .mask {
    position: absolute; top:0px; left:0px; width:100%; height:100%;
    background:transparent;
    background: linear-gradient(top, rgba( 255, 255, 255, 255 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
    background: -moz-linear-gradient(top, rgba( 255, 255, 255, 0) 0%, rgba( 255, 255, 255, 1 ) 100% );
    background: -ms-linear-gradient(top, rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
    background: -o-linear-gradient( top, rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
    background: -webkit-linear-gradient( top, rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#550000FF, endColorstr=#550000FF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#ffffffff);
}

.section-regist-title {
  margin: 60px 0;
  color: #171717;
  font-size: 2.8rem;
  font-weight: normal;
  text-align: center;
  color: #4d4d4d;
}

.section-regist-types {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.2em;
  text-align: center;
}

.section-regist-type {
  display: inline-block;
  width: 298px;
  margin: 0 28px 106px;
  padding: 36px;
  background: #FFF;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: left;
}

.section-regist-type-title {
  margin: 0 0 26px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

.section-regist-type p {
  margin-bottom: 12px;
}

.section-regist-buy {
  display: inline-block;
  width: 241px;
  height: 42px;
  margin-top: 18px;
  text-decoration: none;
  color: #fff;
  line-height: 42px;
  text-align: center;
  background: #75ac2d;
}

.section-location {
  min-height: 660px;
  background: #222;
  text-align: center;
  color: #fff;
  overflow: hidden;
  border-bottom: 3px #3b91b4 solid;
}

.section-location-title {
  margin-top: 80px;
  margin-bottom: 40px;
  font-weight: normal;
}

.section-location-address {
  margin: 0 0 65px;
}

.page-footer {
  padding: 24px 0;
  background: #191919;
  text-align: center;
  font-size: 1.2rem;
  color: #ebebeb;
}

.page-footer p {
  margin: 0;
}

.topbar-menu-toggle-btn {
  display: none;
}

.page-cover-sponsoring {
  height: 350px;
  background: url(images/activity.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
  border-bottom: 5px #f5f5f5 solid;
}
.sponsoring .call-sponsor {
  color: #A4A4A4;
}
.sponsoring h1 {
  border-bottom: 1px solid #cfcfcf;
}
.sponsor {
  margin-bottom: 20px;
}
.sponsor a.outer {
  display: inline-block;
  width: 33%;
}

.sponsor .description {
  margin-top: 20px;
}
.sponsor .brand {
  display: block;
  font-weight: bold;
}
.titanium img {
  width: 280px;
  /*height: 160px;*/
}
.platinum img {
  width: 200px;
  /*height: 120px;*/
}
.platinum img {
  width: 200px;
  /*height: 120px;*/
}
.gold img {
  width: 160px;
  /*height: 84px;*/
}
.silver img {
  width: 130px;
  height: 60px;
}

.apply-now {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #faec8e), color-stop(1, #ffcc00) );
	background:-moz-linear-gradient( center top, #faec8e 5%, #ffcc00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#faec8e', endColorstr='#ffcc00');
	background-color:#faec8e;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	display:inline-block;
	color:#ffffff;
	font-style:normal;
	line-height:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 0px #ffffff;
  padding: 0 20px;
  margin-bottom: 30px;
}
.apply-now:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffcc00), color-stop(1, #faec8e) );
	background:-moz-linear-gradient( center top, #ffcc00 5%, #faec8e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc00', endColorstr='#faec8e');
	background-color:#ffcc00;
}

.section-announce {
  width: 55%;
  margin: 0 auto;
}

.news {
  padding-top: 10px;
}

.news:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.date {
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  width: 50px;
  margin-right: 10px;
  padding: 4px 5px;
  background: #575757;
  text-align: center;
  float: left;
  line-height: 1;
}

.news:nth-of-type(1) .date{
  background: #0087AD;
}

.news:nth-of-type(2) .date{
  background:#B7C41F;
}

.news:nth-of-type(3) .date{
  background:#D13B18;
}

.date * {
  box-sizing: border-box;
}
.month {
  font-size: 12px;
  line-height: 13px;
  font-weight: normal;
  display: block;
}
.year {
  font-size: 12px;
  font-weight: normal;
  line-height: 13px;
  display: block;
}
.news-title {
  font-size: 24px;
  font-weight: bold;
}
.news-content {
  padding-left: 80px;
  margin-top: -6px;
}
.news-content p {
  margin: 0 0 20px 0;
  text-align: left;

}

.schedule {
}

.table thead {
  color: #fff;
  background-color: #333;
  font-size: 16px;
}
.table thead tr th {
  text-align: center;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f5f5f5;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.table-bordered th, .table-bordered td {
  border-left: 1px solid #dddddd;
}

.table th, .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table tbody tr td {
  text-align: center;
}

td, th {
  display: table-cell;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@media screen and (max-width: 1024px) {
	.container {
		margin: 0 54px;
	}
}

@media screen and (max-width: 848px) {
  .container {
    margin: 0 24px;
  }

  .topbar-nav {
    height: auto;
    top: 86px;
    bottom: inherit;
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    -ms-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
  }

  .topbar-nav.open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: inherit;
  }

  .topbar-menu-item {
    display: block;
    margin: 12px 0;
    height: 59px;
  }

  .topbar-menu-item a {
    float: right;
    padding: 0 24px;
    background: #f9f4f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }

  .topbar-menu-toggle-btn {
    display: block;
    position: absolute;
    z-index: 10;
    right: 24px;
    top: 50%;
    margin-top: -13px;
    width: 32px;
    height: 26px;
    background-image: linear-gradient(rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .2) 20%, transparent 20%, transparent 40%, rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, .2) 60%, transparent 60%, transparent 80%, rgba(0, 0, 0, .2) 80%);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
  }


  .section-cover-title,
  .section-cover-date {
    left: 0;
    margin-left: 0;
    font-size: 2.4rem;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .section-intro-container {
    width: inherit;
    padding-left: 24px;
    padding-right: 24px;
  }

  .section-regist-type {
    margin-bottom: 86px;
  }

  .section-location-address {
    padding: 0 24px;
  }

	.speaker {
		width: 100%;
	}
  .sponsor a.outer {
    width: 99.98%;
  }
}
