footer.page-footer
  p contact us: hq@jsdc.tw
  p
    | Logo and design by
    a(href='https://twitter.com/rocavence', target='_blank') ROCA
    | &
    a(href='https://twitter.com/ideasing', target='_blank') Cyril﻿
  p
    a(href="http://jsdc.tw", target="_blank") JSDC Website
