.topbar
  .container
    h1.topbar-sitename
      a(href="/") JSDC 2014
    nav.topbar-nav
      ul.topbar-menu
        li.topbar-menu-item
          a(href='/#about') ABOUT
        li.topbar-menu-item
          a(href='/team.html') TEAM
        li.topbar-menu-item
          a(href='/sponsoring.html') SPONSORING
        li.topbar-menu-item
          a(href='/speakers.html') SPEAKERS
        li.topbar-menu-item
          a(href='/about.html') ABOUT
    a.topbar-menu-toggle-btn
